body {
  background-image: linear-gradient(45deg,#800080, #ADD8E6, #90EE90);
  padding: 2% 25% 0 25%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#name,#email,#number {
  width: 100%;
  height: 30px;
  border-radius: 5px;
}

#dropdown {
  border-radius: 5px;
  width: 100%;
  height: 30px;
}

input {
  text-align: left;
}

#submit {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: green;
  color: white;
  font-size: 1.2rem;
}

#submit:hover {
  background-color: #800080;
}

textarea {
  width: 100%;
  height: 150px;
  text-align: left;
  border-radius: 5px;
}

fieldset {
  border-radius: 5px;
}

form {
  text-align: left;
  background-color: rgba(0 ,0 ,0, 0.2);
  border-radius: 5px;
  padding: 10%;
  margin-bottom: 50px;
}

 .radio-buttons {
  vertical-align: middle;
 }
